# DataScience Tools and Ecosystem

**objectives**

* list 3 popular data science languages
* list 3 popular data science libraries
* solve basic arithmetic

In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
 
       |Data science tools|
       ------------------
       |Spyder|
       |Jupyter notebook|
       |R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers.

In [9]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60.

In [10]:
200/60

3.3333333333333335

## author

In [ ]:
Oluwatosin Anifowose